@{
    ViewBag.Title = "Index";
}

<h2>Login</h2>
<div style="margin-top:20px">

</div>
<div class="row" style="margin-top:20px;">
    <div class="col-md-5">
        <p>
            <a class="btn btn-default btn-block" href="@Url.Action("SignIn", new { type = "Google" })"><i class="fa fa-google"></i>&nbsp;&nbsp;Login using Google</a>
        </p>
    </div>

</div>